/* .form-control {
    @apply bg-transparent dark:bg-slate-900 transition duration-300 ease-in-out border border-slate-200
    dark:border-slate-700 focus:ring-1 focus:ring-slate-600 focus:outline-none focus:ring-opacity-90 rounded
    placeholder:text-slate-400 text-slate-900 text-sm px-3  placeholder:font-normal block w-full h-[40px] dark:text-white;
} */

.form-label {
    @apply mb-2 block w-full cursor-pointer text-sm font-medium capitalize leading-6 text-slate-600 rtl:block rtl:text-right dark:text-slate-300;
}

.inline-inputLabel {
    @apply absolute left-0 top-1/2 -translate-y-1/2
}

.form-control {
    @apply block mt-1 w-full rounded border border-slate-200 bg-white px-3 py-2 text-sm text-slate-900  transition duration-300 ease-in-out placeholder:font-normal placeholder:text-slate-400 focus:outline-none focus:ring-1 focus:ring-slate-600 focus:ring-opacity-90 dark:border-slate-700 dark:bg-slate-900 dark:text-slate-300 dark:placeholder:text-slate-400 dark:focus:ring-slate-900;
}

.input-description {
    @apply mt-2 block text-xs font-light leading-4 text-secondary-500;
}
.fromGroup {
    @apply relative;
    &.has-error {
    .form-control {
        @apply border-danger-500 focus:ring-1  focus:ring-danger-500 focus:ring-opacity-90;
    }
    }
    &.is-valid {
    .form-control {
        @apply border-success-500 focus:ring-1 focus:ring-success-500 focus:ring-opacity-90;
    }
    }
}

.form-control[readonly] {
    @apply cursor-pointer bg-slate-200 text-slate-400 placeholder:text-slate-400 dark:bg-slate-600;
}

.form-control[disabled] {
    @apply cursor-not-allowed bg-slate-50 text-slate-800 placeholder:text-opacity-60 dark:bg-slate-600;
}

/* // Form layout */
.checkbox-area input:checked + span {
    @apply bg-neutral-500 ring ring-neutral-500 ring-offset-1;
}

.checkbox-area input:checked + span img {
    @apply opacity-100;
}

.primary-checkbox input:checked + span {
    @apply bg-primary-500 ring ring-primary-500 ring-offset-1;
}
.secondary-checkbox input:checked + span {
    @apply bg-secondary-500 ring ring-secondary-500 ring-offset-1;
}
.info-checkbox input:checked + span {
    @apply bg-info-500 ring ring-info-500 ring-offset-1;
}
.success-checkbox input:checked + span {
    @apply bg-success-500 ring ring-success-500 ring-offset-1;
}
.warning-checkbox input:checked + span {
    @apply bg-warning-500 ring ring-warning-500 ring-offset-1;
}
.danger-checkbox input:checked + span {
    @apply bg-danger-500 ring ring-danger-500 ring-offset-1;
}

/*  Basic Radio */
.basicRadio input:checked + span {
    @apply bg-primary-500 border-white ring-1 ring-offset-1 ring-primary-500;
}

/* Colored Radio */
.primary-radio input:checked + span {
    @apply bg-primary-500 border-white ring-1 ring-offset-1 ring-primary-500;
}
.secondary-radio input:checked + span {
    @apply bg-secondary-500 border-white ring-1 ring-offset-1 ring-secondary-500;
}
.info-radio input:checked + span {
    @apply bg-info-500 border-white ring-1 ring-offset-1 ring-info-500;
}
.success-radio input:checked + span {
    @apply bg-success-500 border-white ring-1 ring-offset-1 ring-success-500;
}
.warning-radio input:checked + span {
    @apply bg-warning-500 border-white ring-1 ring-offset-1 ring-warning-500;
}
.danger-radio input:checked + span {
    @apply bg-danger-500 border-white ring-1 ring-offset-1 ring-danger-500;
}

/* Form Validation */
.error {
    @apply text-sm text-danger-500 mt-1 inline-block;
}

/* file input */
.file-control {
    @apply rounded border border-slate-200 bg-transparent text-sm transition duration-300 ease-in-out placeholder:font-normal focus:outline-none focus:ring-1 focus:ring-slate-900 focus:ring-opacity-90 ltr:pl-3 rtl:pr-3   dark:border-slate-700 dark:bg-slate-900 dark:text-white   dark:focus:ring-slate-900;
}
.badge-title {
    @apply rounded bg-slate-900 px-2 py-[3px] text-sm text-white;
}

.dz-error-message {
    display: none !important;
    opacity: 0 !important;
}
.dz-remove {
    margin-top: 4px !important;
}
